.sweet-loading {
    display: flex;
    width: 100%;
    position: absolute;
    top: 15em;
    justify-content: center;
}

.aissistant-response {
    margin-top: 1em;
    padding: 1em;
    border-radius: 5px;
    color: var(--black);
    background-color: var(--orange);
}

.rate-caption {
    display: flex;
    justify-content: start;
    align-items: center;
    color: var(--orange);
    font-style: italic;
}

h2.extra-h2 {
    text-align: center;
    font-size: 3rem;
}

.extra-span {
    font-family: "SwissquoteBold", sans-serif;
    color: var(--orange);
}

.rate-buttons {
    margin-left: 1em;
    cursor: pointer;
}

.btn-refresh {
    cursor: pointer;
    height: 3rem;
    border-radius: 1.5rem;
    line-height: 3rem;
    font-size: 1.2rem;
    width: 9rem;
    margin: 0 auto;
    color: var(--white);
    background-color: var(--black);
    border: 0 solid var(--black);
    outline: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}